body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
.title{
    font-size: 50px;
}
.titlename{
    color: orange;
}
.titlesec{
    height: 600px;
    background-image: url(/Backgorund/top-banner.png);
    background-repeat: no-repeat;
    
}
.titlesec p{
    font-size: 20px;
}
.titlediv{
    float: left;
    width: 40%;
    text-align: justify;
    margin-left: 5%;
    padding-left: 2%;
 
}
.imagetag{
    width: 80%;
}
.hirebtn{
    width: 150px;
    height: 50px;
    background: orange;
    transition: width 1s;
    border-radius: 10px 2px 10px 2px;
    font-size: 20px;
    text-align: center;
    margin-left: 5%;
    font-weight: 700;
}
.hirebtn:hover{
    width: 300px;
    background: red;
}
.hirebtn a{
    text-decoration: none;
    color: black;
}

#secondsec{
    background-image: url(/Backgorund/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    margin: 1% 0 0 0;
    padding: 4% 0 0 0;
    
}
.experience{
    height: 600px;
    background-image: url(/Backgorund/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.exptitle{
    text-align: center;
    font-size: 30px;
    font-weight: 800;

}
.newexp{
    margin-top: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    height: 50%;
    padding: 2%;
    text-align: justify;
}
#exp1{
    margin-left: 4%;
    border-left: 10px solid;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
    transition: transform .5s;

}

#exp1:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.05); 
}
#exp2{
    border-left: 10px solid;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
    transition: transform .5s;
}
#exp2:hover{
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.05); 
}

.footertext{
    text-align: center;
    font-size: 20px;
}